@import url('./variables.css');

html,
body,
#__nuxt,
#__layout {
  /* font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif; */
  font-family: system-ui;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: auto;
  background: var(--primary-background);
  color: var(--text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
  border: 0;
  transition: 400ms background;
}

html body #__nuxt #__layout > div {
  width: 100%;
  height: 100%;
  max-width: 1500px;
}

html body #__nuxt #__layout {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

a {
  color: var(--text);
}

a:hover {
  text-decoration: underline;
}

.primary-button {
  background: var(--primary);
  color: white;
  font-weight: normal;
  font-size: 18px;
  transition: 300ms all;
  padding: 12px 40px;
  border-radius: 3px;
}

.primary-button:hover {
  transform: scale(1.08);
}

.secondary-button {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--text);
  font-weight: normal;
  font-size: 18px;
  transition: 300ms all;
  padding: 14px 40px;
  border-radius: 3px;
  margin: 30px 0 40px 0;
}

.secondary-button:hover {
  background: var(--primary);
  color: white;
}

/* Scrollbar */

/* Dark mode */

.dark-mode::-webkit-scrollbar {
  width: 10px;
}

.dark-mode::-webkit-scrollbar-track {
  background: var(--secondary-background);
}

.dark-mode::-webkit-scrollbar-thumb {
  background: #2f3d50;
}

.dark-mode::-webkit-scrollbar-thumb:hover {
  background: #37465c;
}

.dark-mode::-webkit-scrollbar-thumb:active {
  background: #415169;
}

/* Light mode */

.light-mode::-webkit-scrollbar {
  width: 10px;
}

.light-mode::-webkit-scrollbar-track {
  background: var(--secondary-background);
}

.light-mode::-webkit-scrollbar-thumb {
  background: #dddcdc;
}

.light-mode::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}

.light-mode::-webkit-scrollbar-thumb:active {
  background: #bbbbbb;
}
