#headline {
  font-size: 64px;
}

#headline .name {
  text-shadow: 6px 6px 0px rgba(255, 119, 51, 0.5);
}

#headline .surname {
  color: #f5f5f5;
}

.about-me {
  width: 256px;
  height: 64px;
  margin-top: 48px;
  border-radius: 32px;
  color: #ff7733;
  background-color: rgba(255, 119, 51, 0.25);
  font-size: 24px;
  font-weight: bold;
}

.section-intro {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.section-intro h2 {
  font-size: 64px;
}

.section-intro h4 {
  font-size: 24px;
  color: var(--gray);
  font-weight: 200;
  font-style: italic;
}

.projects {
    margin-top: 48px;
}

.project {
  width: 360px;
  height: 300px;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  cursor: pointer;
  /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1); */
}

.project img {
  width: 100%;
  height: 62%;
  border-bottom: 1px solid #cbd5e0;
  border-radius: 8px 8px 0 0;
}

.project .about {
    padding: 16px;
}

.project .about h3 {
    color: var(--black);
    font-size: 24px;
}

.project .about h5 {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}
